{
  "type":"metric",
  "x":${x_offset},
  "y":${y_offset},
  "width":12,
  "height":6,
  "properties":{
    "metrics":${metric_code},
    "period":${period},
    "stat":${stat},
    "stacked":false,
    "region":${region},
    "title":${title}
  }
}
